.device {
  width: 247px;
  margin-block: 1rem;
  margin-inline: auto;
  border-radius: 1.5rem;
  border: 0.625rem solid #fff;
  background-color: $app-bg;
  box-shadow: 0.5rem 1.5rem 4rem 0 rgba(#000, 0.1);
}
