{{#if chat-them}}
<div class="chat-bubble" data-chat="them">{{ chat-them }}</div>
{{/if }}

{{#if chat-me}}
<div class="chat-bubble" data-chat="me">{{ chat-me }}</div>
{{/if }}

{{#if chat-gallery}}
{{> gallery }}
{{/if }}