<header class="header">
    <div class="header-arrow">&#10092;</div>
    <img class="header-avatar" src="images/avatar.jpg" alt="">
    <div class="header-id">
        <div class="header-title">Samuel Green</div>
        <div class="header-subtitle">Available to Walk</div>
    </div>
    <div class="header-dots">&hellip;</div>
</header>