<main class="container">

    <div class="device">

        {{> device-header }}

        {{> chat-body }}

        {{> chat-input }}

    </div>

    <div class="intro">

        {{> intro-copy }}

    </div>

</main>